<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.bacayo.territory-cron-server</string>
  <key>WorkingDirectory</key>
  <string>/Users/javier/bacayo-studio/territory-developer</string>
  <key>ProgramArguments</key>
  <array>
    <string>/Users/javier/.volta/tools/image/node/22.18.0/bin/npm</string>
    <string>run</string>
    <string>cron:server</string>
  </array>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>/Users/javier/.volta/bin:/usr/local/bin:/usr/bin:/bin</string>
  </dict>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>StandardOutPath</key>
  <string>/Users/javier/bacayo-studio/territory-developer/tools/cron-server/launchd/cron-server.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/javier/bacayo-studio/territory-developer/tools/cron-server/launchd/cron-server.err</string>
</dict>
</plist>
